
.custom-modal {
    width: 800px; 
    height: 500px; 
    transition: 5s ; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border: 2px solid #858080;
  }
  
  .custom-modal-overlay {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .btnclose {
    background-color: #dd4d4d; 
    color: white; 
    border-radius: 5rem;
    padding: 10px 20px;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 20px;
    margin: 50px;
    border: none;
    
  }
  
  .btnclose:hover {
    background-color: #ec2a2a;
    color: black;
  }

  .promotion h2{
    background-color: #ee710a; 
    border-radius: 1rem;
    color: white; 
    padding: 20px; 
    text-align: center; 
    margin-bottom: 20px;
   
  }

  .promotion h5
  {
    font-size: 20px;
    font-family: 'sans-serif';
  }
  